<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4 class="mt-4">Funcionarios Cadastrado no Sistema</h4>
    
    <a href ="/admin/funcionario/add"><button class="btn btn-success mt-2 ">Cadastrar Funcionario</button></a> 
    <a href="/admin"><button type="button" class="btn btn-success mt-2">Retornar</button></a>
    <a href = "/admin/setor/edit/{{id}}"><button class="btn btn-primary mt-2">Editar Funcionario</button></a> 
    <a href= "/admin/delsetor/{{id}}"><button class="btn btn-danger mt-2">Apagar Funcionario</button></a>
</body>
</html>